.switch-mobile, .mobile-links{
    display: none;
}   

.links-t{
    align-items: flex-end;
}

.name-logo{
    z-index: 100;
}

.h-7{
    height: 2rem;
}

.w-7{
    height: 2rem;
}

@media (max-width: 700px) {
    .switch-mobile, .mobile-links{
        display: flex;
    } 
    .mobile-links{
        flex-direction: column;
        align-content: flex-end;
        width: 100vw;
        position: absolute;
        right: 0;
        padding: 1.4rem 1.4rem;
        background: #111827;
        flex-wrap: wrap;
        top: -200px;
        transition: top .7s;
    }  
    .switch-mobile{
        z-index: 100;
    } 
    .showLinks{
        top: 60px;
    }

    .links-mobile{
        display: none;
    }

}